<div>
<!-- <h2 [textContent] = "title"></h2> -->
    <span > Currently Selected Fisher: </span>
    <span *ngIf=(currentFisher) class="selectedFisher"> {{currentFisher}}</span>
    <span *ngIf=(!currentFisher) class="selectedFisher"> Please Select!</span>
    <form #replaceForm="ngForm" (ngSubmit)="onSubmit(replaceForm)"> 
        <mat-form-field appearance="fill">
            <mat-label>fishType</mat-label>
            <input
                matInput 
                type="text" 
                name="fishType" 
                ngModel
                required>
        </mat-form-field>
        <br>
        <mat-form-field appearance="fill">
            <mat-label>fishLength</mat-label>
            <input
                matInput 
                type="text"
                name = "fishLength"
                ngModel
                >
        </mat-form-field> 
        <br>
        <mat-form-field appearance="fill">
            <mat-label>fishWeight</mat-label>
                <input
                    matInput 
                    type="text"
                    name = "fishWeight"
                    ngModel
                    >
        </mat-form-field> 
        <br>
        <label for="file">Upload Image:</label>
                <input
                    type="file"
                    id="file"
                    (change)="readUrl($event)"
                    />
        <div *ngIf=(fishImageURL)>
        <img class="picture" *ngIf=(fishImageURL) [src]="fishImageURL" alt="fishPic"/>
        </div>
        <div>
        <button mat-raised-button type="submit">
               Submit Fish
        </button>
        </div>
    </form>
</div>