<div class="container">
  <div class="container">
      <h2 class="title">Welcome to the LiveWell {{loggedIn}}! You currently have {{(chosenFisher === loggedIn?'Yourself':chosenFisher)}} selected </h2>
      <img class="fishIcon" src="assets/fishIcon.jpg" alt = "fishIcon">
  </div>
  <div class="item">
          <nav>
            <a routerLinkActive="isSelected" [routerLinkActiveOptions]="{exact: true}" routerLink='/ChooseFisher'> Choose Fisher</a> |
            <a routerLinkActive="isSelected" [routerLinkActiveOptions]="{exact: true}" routerLink='/Replace'> Add Fish</a> |
            <a routerLinkActive="isSelected" [routerLinkActiveOptions]="{exact: true}" routerLink='/Livewell'>View Livewell </a>
          </nav> 
  </div>
  <div class="main">
      <router-outlet></router-outlet>
  </div>
  <div class="footer">
      <button (click)="logOut()"  mat-flat-button color="warn" >Logout</button> 
      <app-weather-data class="weatherData"></app-weather-data>
  </div>
  <div *ngIf="!isOpen">
    <button mat-button (click)="openSidenav()">Open Sidebar</button>
  </div>
</div>