.fishIcon{
    width: 160px;
    height: 100px;
}

.container { 
    background-color: #416e33; 
    color: red;
    font-weight: bolder;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

.item {
  padding: 1em;
  flex:1;
} 


.main{
  display:flex;
  flex-direction: row;
  flex: 1;
}

.title{
  font-size: 2em;
  color: red;
}

.footer {
    display: flex;
    flex-direction: row;
 }

 .isSelected{
  font-weight: bolder;
  font-size: 150%;
 }

